body {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 49%);

  --Blue: hsl(248, 32%, 49%);

  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);

  background-image: url(/images/bg-intro-desktop.png);
  font-family: "Poppins", sans-serif;
  background-color: var(--Red);

  margin: 0 auto;
  padding: 0;
  height: 30rem;
}

main {
  margin: 10rem auto;
  display: flex;
  /* width: 70rem; */
  height: 35rem;

  padding: 9rem 9rem;
}

#left-section {
  color: white;
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-right: 5%;
}

#left-section h1 {
  font-size: 2.5rem;
  width: 70%;
  line-height: 2.8rem;
}
/* width : 1440px */

#left-section p {
  width: 100%;
  line-height: 1.6rem;
}

#right-section {
  /* background-color: white; */
  width: 50%;
  /* padding: 0 5%; */
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#right-section-header {
  color: white;
  background-color: var(--Blue);
  margin: 0;
  padding: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

#right-section-form {
  background-color: white;
  height: 100%;
  border-radius: 8px;
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#right-section-form input {
  padding: 1.1rem 2rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  outline: none;
  border: 1px solid var(--Grayish-Blue);
}

#right-section-form input:focus {
  border: 1px solid var(--Dark-Blue);
}

#right-section-form button {
  padding: 1.1rem;
  background-color: var(--Green);
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

#right-section-form p {
  font-size: 0.7rem;
  color: var(--Grayish-Blue);
}

#right-section-form span {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--Red);
}

footer {
  display: block;
}

@media (max-width: 48rem) {
    body{
        width: 48rem;
    }
    
  main {
    margin: 3rem auto;
    padding: 0.5rem;
    height: 55rem;
    text-align: center;
    display: grid;
    justify-items: center;
    /* grid-template-columns: 100% */
  }

  #left-section {
    padding: 0;
  }
  #left-section h1 {
    width: 100%;
  }
  #left-section p {
    width: 100%;
  }

  #right-section-header {
    padding: 1.2rem 5rem;

  }

  #right-section input{
    padding: 0.9rem 1.5rem;
  }

  #right-section form p {
    padding: 0 3rem;
  }
}
