<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %> <%- include("includes/aside") %>
    <main>
      <h1>500 Something went wrong!</h1>
      <p>서버에 문제가 발생했습니다. 최대한 빨리 해결하도록 하겠습니다.</p>
    </main>
  </body>
</html>
